body{
background: #555;
max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
background-color: #3498db;
}
table{
background-color: lightblue;
}
.badge-notify{
background-color: #3498db; 
   
   position:relative;
     top: -20px;
   left: -20px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
padding: 10px; 

  }
input{
font-size: 20px;
background-color:white;
border: 2px solid black;
}
table{
border: 2px solid black;
}
h1{
border: 2px solid black;
width:250px;
background-color: lightblue;
}
 